<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">
      <a class="navbar-brand" href="/">
        <img src="/static/assets/img/brand/hospital.png" class="navbar-brand-img" alt="logo">
      </a>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if 'index' in segment %} active {% endif %}" href="/">
              <i class="ni ni-tv-2 text-primary"></i>
              <span class="nav-link-text">Dashboard</span>
            </a>
          </li>
          <!-- Areas -->
          <li class="nav-item">
            <a class="nav-link {% if 'areas' in segment %} active {% endif %}" href="/areas">
              <i class="ni ni-shop text-orange"></i>
              <span class="nav-link-text">Areas</span>
            </a>
          </li>
          <!-- Bienes -->
          <li class="nav-item">
            <a class="nav-link {% if 'icons' in segment %} active {% endif %}" href="/bienes">
              <i class="ni ni-archive-2 text-orange"></i>
              <span class="nav-link-text">Bienes</span>
            </a>
          </li>
          <!-- Bitacoras -->
          <li class="nav-item">
            <a class="nav-link {% if 'map' in segment %} active {% endif %}" href="/bitacoras">
              <i class="ni ni-collection text-primary"></i>
              <span class="nav-link-text">Bitacoras</span>
            </a>
          </li>
          <!-- Puestos -->
          <li class="nav-item">
            <a class="nav-link {% if 'profile' in segment %} active {% endif %}" href="/puestos">
              <i class="ni ni-single-02 text-yellow"></i>
              <span class="nav-link-text">Puestos</span>
            </a>
          </li>
          <!-- Recetas -->
          <li class="nav-item">
            <a class="nav-link {% if 'tables' in segment %} active {% endif %}" href="/recetas">
              <i class="ni ni-book-bookmark text-default"></i>
              <span class="nav-link-text">Recetas</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">
              <i class="ni ni-user-run text-red"></i>
              <span class="nav-link-text">Cerrar sesión</span>
            </a>
          </li>            
        </ul>
        <!-- Divider -->
        <hr class="my-3">
      </div>
    </div>
  </div>
</nav>