{% extends 'layouts/base.html' %}

{% block title %} Recetas {% endblock title %}

{% block content %}

<form method="POST" enctype="multipart/form-data">{% csrf_token %}
   <br><br>
   <div class="container">
      <div class="col">
         <div class="card">
            <div class="card-header border-0">
               <div>
                  <h2> Agregar Receta <h2>
                        <div style="background-color: Gray 900">
                        </div>
                        <div class="row">

                           <div class="col-md-6">
                              <div class="form-group">
                                 {% comment %} <input type="text" class="form-control form-control-alternative" id="cantidad"
                                    name="Cantidad" placeholder="Cantidad de medicamento"> {% endcomment %}
                                 {{form.cantidad}}
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 {{form.fecha}}
                                 {% comment %} <input type="date" class="form-control form-control-alternative" id="fecha"
                                    name="Fecha" placeholder="Fecha de emición de la receta"> {% endcomment %}
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 {{form.personal}}
                                 {% comment %} <select class="form-control form-control-alternative" id="personal"
                                    name="Tipo de bienes">
                                    <option label="Medicamento" value="MED"></option>
                                    <option label="Insumo" value="INS"></option>
                                 </select> {% endcomment %}
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 {{form.bienes}}
                                 {% comment %} <input type="file" class="form-control form-control-alternative" id="bienes"
                                    name="Codigo de barras" alt="Escanea el codigo de barras"> {% endcomment %}
                              </div>
                           </div>
                        </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group">
                     <button type="submit" class="btn btn-info">Enviar datos</button>
                  </div>
               </div>
            </div>
</form>


{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}