{% extends 'layouts/base.html' %}

{% block title %} Bienes {% endblock title %}

{% block content %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <br><br>
    <div class="container">
        <div class="col">
            <div class="card">
                <div class="card-header border-0">
                    <div>
                        <h2> Agregar Bitacora <h2>
                                <div style="background-color: Gray 900">
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Bien</label>
                                        <div class="form-group">
                                            {{form.bienes}}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Cantidad</label>
                                        <div class="form-group">
                                            {{form.cantidad}}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Empleado Registra</label>
                                        <div class="form-group">
                                            {{form.empleado}}
                                        </div>
                                    </div>
                                </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <button type="submit" class="btn btn-info">Registrar</button>
                        </div>
                    </div>
                </div>
</form>


{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}