{% extends 'layouts/base.html' %}

{% block title %} Bienes {% endblock title %}

{% block content %}
<script>
   var barcode = '';
   var interval;
   document.addEventListener('keydown', function (evt) {
      if (interval)
         clearInterval(interval);
      if (evt.code == 'Enter') {
         if (barcode)
            handleBarcode(barcode);
         barcode = '';
         return;
      }
      if (evt.key != 'Shift')
         barcode += evt.key;
      interval = setInterval(() => barcode = '', 20);
   });

   function handleBarcode(scanned_barcode) {
      document.querySelector('#codigo_barras').innerHTML = scanned_barcode;
   }
</script>
<form method="POST" enctype="multipart/form-data">
   {% csrf_token %}
   <br><br>
   <div class="container">
      <div class="col">
         <div class="card">
            <div class="card-header border-0">
               <div>
                  <h2> Agregar Bienes <h2>
                        <div style="background-color: Gray 900">
                        </div>
                        <div class="row">

                           <div class="col-md-6">
                              <div class="form-group">
                                 {{form.tipo}}
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 {{form.num_unidades}}
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 {{form.num_cajas}}
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 {{form.caducidad}}
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 {{form.tipo_bienes}}
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 {{form.lote}}
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 {{form.codigo_barras}}
                              </div>
                           </div>
                        </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group">
                     <button type="submit" class="btn btn-info">Enviar datos</button>
                  </div>
               </div>
            </div>
</form>


{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}