{% extends 'layouts/base.html' %}

{% block title %} Areas {% endblock title %}

{% block content %}
{% load widget_tweaks %}
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Areas</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="areas">Areas</a></li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a href="create" class="btn btn-sm btn-neutral">Nueva area</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">Registrar Area</h3>
          </div>
            <form method = "POST" enctype = "multipart/form-data">{% csrf_token %}
            <div class = "col-md-12">
              <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.tipo|add_class:"form-control" }}
                    </div>

                    <div class="form-group">
                        {{ form.num_unidades|add_class:"form-control" }}
                    </div>                
                    
                    <div class="form-group">
                        {{ form.num_cajas|add_class:"form-control" }}
                    </div>

                    <div class="form-group">
                        {{ form.lote|add_class:"form-control" }}
                    </div>

                    <div class="form-group">
                        {{ form.caducidad|add_class:"form-control" }}
                    </div>

                    <div class="form-group">
                        {{ form.tipo_bienes|add_class:"form-control" }}
                    </div>

                    <div class="form-group">
                        {{ form.codigo_barras|add_class:"form-control" }}                
                    </div>

                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <button type="submit" class="btn btn-outline-success">Registrar</button>
                    <a href="../" type="submit" class="btn btn-outline-warning">Cancelar</a>
                  </div>
                </div>
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
